%section.post_update
  = render partial: 'form'

.user_activity.head
  .field Username
  .field Status
  .field Description
  .field When
  
- UserPresenter.present_each(@users, current_user) do |user|
  .user_activity.body
    .field.username= user.username
    .field.current_status= user.current_status
    .field.description= user.status_description
    .field.when=  user.time_ago